/* main.css */
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
input::placeholder{
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-top: 60px; 

}

a {
  color: #dd2855;
  text-decoration: none;
  transition: 0.2s;
}

