<!-- base.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <title>Event Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    {% block head %}
    {% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include the Owl Carousel JavaScript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Include Font Awesome for icons (if you plan to use it for navigation buttons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />  
    
    <header>
        {% include 'navbar.html' %}
        <script>
            function redirectTo(name, id) {
                if(name) {
                    window.location.href = `/Nav/${name}/${id}`;
                }
            }
        </script>
        {% for message in get_flashed_messages()%}
        <div class="alert alert-warning alert-dismissible fade show wb" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>    
        {% endfor %}
      </header>
    <!-- Main content block where child templates will inject content -->
    <main class="flex-fill">
      {% block body %}
      {% endblock %}
    </main>
    <!-- footer -->
    {% include 'footer.html' %}
  </body>
</html>
    
<!--End base.html -->
 
