<!-- Include the Owl Carousel CSS file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

<!-- Include the Owl Carousel default theme (optional) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/card_carousal.css') }}">
<!--  custom script for setting up the carousel -->
<script src="{{ url_for('static', filename='js/carousel-setup.js') }}"></script>

<div class="carousel-wrap">
  <div class="owl-carousel owl-theme">
    {% for event in events %}
      <div class="item card">
        <img src="{{ event['image'] }}" alt="{{ event['name'] }}" />
        <div class="card-body">
          <h5 class="card-title">{{ event['name'] }}</h5>
          <p class="card-text">{{ event['start_date'] }}</p>
          <p class="card-text">{{ event['venue'] }}, {{event['city']}}, {{event[]}}</p>
          <a href="{{ event['url'] }}" class="btn btn-primary">More Info</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



    