<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<!-- Footer -->
<footer class="text-center text-lg-start  text-muted mt-auto">
    <!-- Section: Links  -->
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
      <div class="container text-center text-md-start mt-5 justify-content-center">
        <!-- Grid row -->
        <div class="row mt-3 justify-content-center">
          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 col-xl-3 mb-4 columns" id="first_col">
            <!-- Content -->
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="footer-logo"> 
            <p class="mr-5">
                <strong>Event Finder</strong> is your go-to website for discovering events happening in your city.This website
                works for all north american cities and is updated daily.It helps you easily find information about dates, venues, performer
                and ticket prices. This is my very first project using Python and Flask. I hope you enjoy it! If you find any bugs or have any suggestions
                please feel free to contact me 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-2 col-xl-2 mb-4 columns" id="second_col">
            <!-- Links -->
            <p class="top-0 mt-5">
                <a href="https://www.linkedin.com/in/fahad-ali-khan-59a182228/" class="me-5 text-reset">
                    <i class="fab fa-linkedin me-1"></i> Fahad Khan
                </a>
            </p>

            <p class="mt-5">
                <a href="https://www.instagram.com/fahad.khan0156/" class="me-4 text-reset">
                    <i class="fab fa-instagram"> </i> fahad.khan0156</a>            
            </p>
          </div>

  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mb-md-0 mb-4" id="third_col">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 mt-3"></i> Ajax, On</p>
            <p>
              <i class="fas fa-envelope me-3 mt-3"></i>
              fkhan195@myseneca.ca
            </p>
            <p><i class="fas fa-phone me-3 mt-3 "></i> + 01 4378828481</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 footnote">
      © 2024 Project:
      <a class="text-reset" href="#">Internship 2024</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->