{% extends 'base.html'%}
{% block head %}
<title> Event Finder</title>
{% endblock %}

{% block body %}

{% include 'carousel.html' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="/search" method="POST" class="input-group">
                <input  class="form-control" type="text" id="city" name="city" placeholder="Enter City">
                <input class = "form-control" type="date" placeholder="Enter Start Date" id="startdate" name="startdate">
                <input class = "form-control " type="date" placeholder="Enter End Date" id="enddate" name="enddate">
                <input class = "form-control" git type="text" placeholder="Search by Artist, Event or Venue" id="keyword" name="keyword">
                <button type="submit" class="btn btn-danger px-4">Search</button>        
            </form>
        </div>
    </div>
</div>
{% endblock %}

