<!-- Index.html -->
{% extends 'base.html'%}
{% block head %}
<title> Event Finder</title>
{% endblock %}

{% block body %}

{% include 'carousel.html' %}

<div id="searchbar" class="container-xxl text-center ">
    <div class="row">
            <form action="/search" method="POST" class="input-group" id="searchBarForm">
                <input id="cityInput" class="form-control col" type="text" id="city" name="city" placeholder="Enter City">
                <input class = "form-control col-6" type="date" placeholder="Enter Start Date" id="startdate" name="startdate">
                <input class = "form-control col-6" type="date" placeholder="Enter End Date" id="enddate" name="enddate">
                <input class = "form-control col-6" git type="text" placeholder="Search by Artist, Event or Venue" id="keyword" name="keyword">
                <button type="submit" class="btn btn-danger">Search</button>        
            </form>
    </div>
</div>
<div class=" mb-5 text-danger">
    <h1 class="display-4 font-weight-bold text-uppercase text-center">TOP EVENTS</h1>
</div>
{% include 'card_carousal.html' %}

{% endblock %}

<!-- End Index.html -->
