<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0 fixed-top">
  <div class="container-fluid">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar-logo">
    </a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- dropdowns -->
    <div class="collapse navbar-collapse ms-auto" id="navbarContent">
      <ul class="navbar-nav mx-auto">
        <li class = "nav-item me-3" id="nav-bar-first">
          <a class="nav-link link-light" href="/">Home</a>
        </li>
        <li class="nav-item dropdown me-3">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Cities
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% for city in cities %}
              <li><a class= "dropdown-item" href="/Nav/{{city}}/city">{{ city }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item dropdown me-3">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Venues
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% for venue in venues %}
            <li><a class= "dropdown-item" href="/Nav/{{ venue }}/venue">{{ venue }}</a></li>
            {% endfor %}
          </ul>
        </li>      
        
        <li class="nav-item dropdown me-3" id="nav-bar-last">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Artists
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% for artist in artists %}
            <li><a class= "dropdown-item" href="/Nav/{{ artist }}/artist">{{ artist }}</a></li>
            {% endfor %}
          </ul>
        </li> 
      
      </ul>
    </div>
  </div>
</nav>


